
*{
	font-family: 'Dosis', sans-serif;
	line-height: 1.5;
}
.h1{
background-color: #dddddd;
padding: 10px;
margin: 10px;
}
.style{
font-family: Georgia, Times, Helvetica, serif;
color: #777777;
text-align: left;
}
.body {
width: 960px;
margin: 0 auto;
}
.header{
	background-color: #cccccc;
}
 .blue{
width:650px;
overflow: auto;
height: 100%;}

